a {
  color: #ec6955;
}

.clear {
  clear: both;
}

#navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 19px 0;
}
#navbar #logo {
  flex: 0 1 100px;
}
#navbar #logo h1 {
  font-size: 23px;
}
#navbar nav {
  flex: 0 1 500px;
}
#navbar nav li {
  float: left;
  padding-left: 30px;
}
#navbar nav li a {
  color: #000;
  padding: 20px 5px 16px;
}
#navbar nav li a:hover {
  color: #ec6955;
  border-bottom: 5px solid #ec6955;
  transition: 0.1s;
}
@media screen and (max-width: 768px) {
  #navbar nav {
    flex: 0 1 100%;
    height: 0;
  }
  #navbar nav.open {
    height: auto;
  }
  #navbar nav li {
    float: none;
    padding: 7px 0px;
    text-align: center;
  }
  #navbar nav li a {
    padding: 7px 5px 7px;
  }
  #navbar nav #burger-menu {
    background: url(../img/navicon.png) no-repeat center;
    height: 40px;
    width: 40px;
    margin-top: -31px;
    float: right;
    cursor: pointer;
  }
}

#banner {
  background: url(../img/header-bg.jpg) no-repeat center center;
  min-height: 767px;
  background-size: cover;
  text-align: center;
  color: #fff;
}
#banner #desc {
  width: 50%;
  margin: 200px auto 30px auto;
}
#banner #desc h1 {
  line-height: 1em;
}
#banner #pencarian {
  background: #ec6955;
  width: 78%;
  margin: 0 auto;
  border-radius: 7px;
  margin-bottom: 100px;
  padding: 10px 10px;
}
#banner #pencarian select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  padding: 20px 90px 20px 15px;
  background: url(../img/select-shape.png) no-repeat 85% center;
  background-color: #f18d7e;
  margin: 15px 5px;
  border: none;
  border-radius: 7px;
  color: #fff;
}
#banner #pencarian select:focus {
  outline: 0 none;
}
#banner #pencarian .bsend {
  padding: 20px 25px;
  margin: 15px 5px;
  color: #ec6955;
  background: #feeb81;
  border-radius: 7px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
#banner #pencarian .bsend:hover {
  box-shadow: none;
  background: #fee559;
}
@media screen and (max-width: 1024px) {
  #banner #pencarian select {
    padding: 20px 50px 20px 15px;
    margin: 0px 5px;
  }
  #banner #pencarian .bsend {
    margin: 5px 5px;
  }
}
@media screen and (max-width: 768px) {
  #banner #desc {
    width: 100%;
    margin: 150px auto 30px auto;
  }
  #banner #pencarian select, #banner #pencarian .bsend {
    margin: 5px 5px;
    width: 30%;
  }
}
@media screen and (max-width: 425px) {
  #banner #pencarian select, #banner #pencarian .bsend {
    width: 90%;
  }
}

#who {
  background: url(../img/who-we-are-bg.jpg) no-repeat center center;
  min-height: 667px;
  background-size: cover;
}
#who .wrapper {
  position: relative;
  top: 200px;
  left: 40px;
}
#who p {
  width: 45%;
}
@media screen and (max-width: 768px) {
  #who .wrapper {
    top: 200px;
    left: 0px;
    text-align: center;
  }
  #who p {
    width: 100%;
  }
}
@media screen and (max-width: 375px) {
  #who .wrapper {
    top: 100px;
  }
}

#category {
  background: url(../img/our-category-bg.jpg) no-repeat center;
  min-height: 960px;
  padding-top: 100px;
  background-size: cover;
}
#category .judul {
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
}
#category #category-list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #fff;
  border-radius: 7px;
}
#category #category-list ul li {
  flex: 0 1 33.33333%;
  box-sizing: border-box;
  padding: 40px 20px 40px 30px;
}
#category #category-list ul li:hover {
  color: #ec6955;
}
#category #category-list ul li:hover img {
  animation: berputar 1s ease;
}
#category #category-list ul li:nth-child(1), #category #category-list ul li:nth-child(2), #category #category-list ul li:nth-child(4), #category #category-list ul li:nth-child(5) {
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
#category #category-list ul li:nth-child(3), #category #category-list ul li:nth-child(6) {
  border-bottom: 1px solid #ddd;
}
#category #category-list ul li:nth-child(7), #category #category-list ul li:nth-child(8) {
  border-right: 1px solid #ddd;
}
#category #category-list ul img {
  width: 60px;
}
#category #category-list ul img[alt="Ios Mas Originales Icon"] {
  position: relative;
  top: -30px;
}
#category #category-list ul .desc {
  display: inline-block;
  margin-left: 15px;
  box-sizing: border-box;
}
#category #category-list ul .desc p {
  width: 250px;
}
#category .bsend {
  padding: 20px 25px;
  margin: 15px 5px;
  color: #ec6955;
  background: #feeb81;
  border-radius: 7px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  margin: 50px 0;
}
#category .bsend:hover {
  box-shadow: none;
  background: #fee559;
}
#category .bsend:hover {
  animation: berputar 0.5s ease;
}
@media screen and (max-width: 1072px) {
  #category #category-list ul li {
    border-bottom: 1px solid #ddd !important;
    flex: 0 1 50%;
    border-bottom: 1px solid #ddd !important;
  }
  #category #category-list ul li:nth-child(1), #category #category-list ul li:nth-child(2), #category #category-list ul li:nth-child(3), #category #category-list ul li:nth-child(4), #category #category-list ul li:nth-child(5), #category #category-list ul li:nth-child(6), #category #category-list ul li:nth-child(7), #category #category-list ul li:nth-child(8), #category #category-list ul li:nth-child(9) {
    border: none;
  }
  #category #category-list ul li:nth-child(even) {
    border-left: 1px solid #ddd !important;
  }
}
@media screen and (max-width: 768px) {
  #category #category-list ul li {
    flex: 0 1 100%;
    text-align: center;
  }
  #category #category-list ul li:nth-child(1), #category #category-list ul li:nth-child(2), #category #category-list ul li:nth-child(3), #category #category-list ul li:nth-child(4), #category #category-list ul li:nth-child(5), #category #category-list ul li:nth-child(6), #category #category-list ul li:nth-child(7), #category #category-list ul li:nth-child(8), #category #category-list ul li:nth-child(9) {
    border: none;
  }
}
@media screen and (max-width: 445px) {
  #category #category-list ul img {
    width: 60px;
    margin-bottom: 20px;
  }
  #category #category-list ul img[alt="Ios Mas Originales Icon"] {
    top: 0px;
  }
  #category #category-list ul .desc {
    margin-left: 0px;
  }
  #category #category-list ul .desc p {
    width: 240px;
  }
}

#blogs {
  background: #f5f5f5;
  padding-top: 100px;
  min-height: 1050px;
}
#blogs .judul {
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
  color: #000;
  margin-bottom: 100px;
}
#blogs #blog-list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#blogs #blog-list li {
  flex: 0 1 33.33333%;
  padding: 0 35px;
  box-sizing: border-box;
}
#blogs #blog-list .thumb:hover .desc {
  animation: berputar 0.5s ease;
  box-shadow: 0px 5px 15px #ddd;
}
#blogs #blog-list .thumb:hover .desc h3 {
  color: #ec6955;
}
#blogs #blog-list .thumb:hover .label {
  background: #d9388a;
}
#blogs #blog-list .gambar {
  height: 200px;
  width: 100%;
  overflow: hidden;
}
#blogs .label {
  position: relative;
  top: -180px;
  left: 20px;
  padding: 8px 10px;
  background: #bf2473;
  color: #fff;
  border-radius: 7px;
}
#blogs .desc {
  background: #fff;
  width: 249px;
  padding: 25px 0px 25px 30px;
  position: relative;
  top: -25px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  margin-bottom: 50px;
}
#blogs .desc h3 {
  color: #000;
  font-weight: normal;
  margin-bottom: -10px;
}
#blogs .desc p {
  color: #818181;
}
@media screen and (max-width: 460px) {
  #blogs #blog-list li {
    flex: 0 1 100%;
  }
}

#propose {
  background: url(../img/what-do-you-propose-bg.jpg) no-repeat center center;
  background-size: cover;
  min-height: 324px;
  text-align: center;
}
#propose .judul {
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
  font-weight: normal;
  letter-spacing: 0.1em;
  padding-top: 70px;
}
#propose .judul h1 {
  font-size: 35px;
  line-height: 1em;
}
#propose form {
  margin-top: 70px;
}
#propose form input[type="email"] {
  padding: 20px 0px 20px 20px;
  border-radius: 7px;
  background: #f6bab1;
  width: 60%;
  border: none;
  color: #fff;
}
#propose form input[type="email"]:focus {
  outline: 0 none;
}
#propose form input[type="email"]::placeholder {
  color: #fff;
}
#propose form input[type="button"] {
  padding: 20px 25px;
  margin: 15px 5px;
  color: #ec6955;
  background: #feeb81;
  border-radius: 7px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 50px;
}
#propose form input[type="button"]:hover {
  box-shadow: none;
  background: #fee559;
}
@media screen and (max-width: 768px) {
  #propose form input[type="email"] {
    width: 90%;
  }
  #propose input[type="button"] {
    width: 50%;
  }
}
@media screen and (max-width: 460px) {
  #propose .judul h1 {
    font-size: 30px;
  }
}

footer {
  background: #26282e;
  color: #fff;
  margin-top: -5px;
  padding: 50px 0 0px;
}
footer .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 60%;
  margin-bottom: 30px;
}
footer ul {
  flex: 0 1 25%;
  box-sizing: border-box;
  padding: 10px;
}
footer ul h2 {
  font-size: 18px;
}
footer ul a {
  color: #fff;
}
footer #copyright {
  text-align: center;
  position: relative;
  background: #1d1f25;
  padding: 1px 0;
}
@media screen and (max-width: 875px) {
  footer .wrapper {
    width: 80%;
  }
  footer ul {
    flex: 0 1 50%;
  }
}
@media screen and (max-width: 375px) {
  footer ul {
    flex: 0 1 100%;
  }
}

@keyframes berputar {
  0% {
    transform: rotateY(360deg);
  }
}
