a {
  color: #ec6955;
}

#navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 19px 0;
}
#navbar #logo {
  flex: 0 1 100px;
}
#navbar #logo h1 {
  font-size: 23px;
}
#navbar nav {
  flex: 0 1 400px;
}
#navbar nav li {
  float: left;
  width: 20%;
}
#navbar nav li a {
  color: #000;
  padding: 20px 5px 16px;
}
#navbar nav li a:hover {
  color: #ec6955;
  border-bottom: 5px solid #ec6955;
  transition: 0.1s;
}

#banner {
  background: url(../img/header-bg.jpg) no-repeat center center;
  min-height: 767px;
  background-size: cover;
  text-align: center;
  color: #fff;
}
#banner #desc {
  width: 50%;
  margin: 200px auto 30px auto;
}
#banner #pencarian {
  background: #ec6955;
  width: 78%;
  margin: 0 auto;
  border-radius: 7px;
  margin-bottom: 100px;
}
#banner #pencarian select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  padding: 20px 90px 20px 15px;
  background: url(../img/select-shape.png) no-repeat 85% center;
  background-color: #f18d7e;
  margin: 15px 5px;
  border: none;
  border-radius: 7px;
  color: #fff;
}
#banner #pencarian select:focus {
  outline: 0 none;
}
#banner #pencarian .bsend {
  padding: 20px 25px;
  margin: 15px 5px;
  color: #ec6955;
  background: #feeb81;
  border-radius: 7px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
#banner #pencarian .bsend:hover {
  box-shadow: none;
  background: #fee559;
}

#who {
  background: url(../img/who-we-are-bg.jpg) no-repeat center center;
  min-height: 667px;
  background-size: cover;
}
#who .wrapper {
  width: 46%;
  float: left;
  margin: 210px 0 50px 95px;
}

#category {
  background: url(../img/our-category-bg.jpg) no-repeat center;
  min-height: 960px;
  padding-top: 100px;
  background-size: cover;
}
#category:after {
  content: "";
  display: block;
  clear: both;
}
#category .judul {
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
}
#category #category-list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #fff;
  border-radius: 7px;
}
#category #category-list ul li {
  flex: 0 1 33.33333%;
  box-sizing: border-box;
  padding: 40px 20px 40px 30px;
}
#category #category-list ul li:hover {
  color: #ec6955;
}
#category #category-list ul li:hover img {
  animation: berputar 1s ease;
}
#category #category-list ul li:nth-child(1), #category #category-list ul li:nth-child(2), #category #category-list ul li:nth-child(4), #category #category-list ul li:nth-child(5) {
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
#category #category-list ul li:nth-child(3), #category #category-list ul li:nth-child(6) {
  border-bottom: 1px solid #ddd;
}
#category #category-list ul li:nth-child(7), #category #category-list ul li:nth-child(8) {
  border-right: 1px solid #ddd;
}
#category #category-list ul img {
  width: 60px;
}
#category #category-list ul img[alt="Ios Mas Originales Icon"] {
  position: relative;
  top: -30px;
}
#category #category-list ul .desc {
  display: inline-block;
  margin-left: 15px;
  box-sizing: border-box;
}
#category #category-list ul .desc p {
  width: 250px;
}
#category .bsend {
  padding: 20px 25px;
  margin: 15px 5px;
  color: #ec6955;
  background: #feeb81;
  border-radius: 7px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  margin: 50px 0;
}
#category .bsend:hover {
  box-shadow: none;
  background: #fee559;
}
#category .bsend:hover {
  animation: berputar 0.5s ease;
}

#blogs {
  background: #f5f5f5;
  padding-top: 100px;
  min-height: 1050px;
  margin-bottom: 50px;
}
#blogs .judul {
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
  color: #000;
  margin-bottom: 100px;
}
#blogs #blog-list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#blogs #blog-list li {
  flex: 0 1 31.66667%;
  padding: 0 40px;
  box-sizing: border-box;
}
#blogs #blog-list .thumb:hover .desc {
  animation: berputar 0.5s ease;
  box-shadow: 0px 5px 15px #ddd;
}
#blogs #blog-list .thumb:hover .desc h3 {
  color: #ec6955;
}
#blogs #blog-list .thumb:hover .label {
  background: #d9388a;
}
#blogs #blog-list .gambar {
  height: 200px;
  overflow: hidden;
}
#blogs .label {
  position: relative;
  top: -180px;
  left: 20px;
  padding: 8px 10px;
  background: #bf2473;
  color: #fff;
  border-radius: 7px;
}
#blogs .desc {
  background: #fff;
  width: 249px;
  padding: 25px 0px 25px 30px;
  position: relative;
  top: -25px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  margin-bottom: 50px;
}
#blogs .desc h3 {
  color: #000;
  font-weight: normal;
  margin-bottom: -10px;
}
#blogs .desc p {
  color: #818181;
}

@keyframes berputar {
  0% {
    transform: rotateY(360deg);
  }
}

/*# sourceMappingURL=style.css.map */
